* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* this is the box of user name */
#username-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightpink;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* user profile pic box */
#user-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 900px;
}

/* user profile pic */
#user-icon {
  width: 150px;
  border: 2px solid lightpink;
  border-radius: 55px;
  margin: 10px, 20px;
}

/* box for 'content box' */
#content-box {
  background-color: rgb(231, 222, 222);
  border-radius: 10px;
  padding-bottom: 10px;
}

/* socials box */
#socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/* linkedIn box */
#linkedin-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid lightpink;
  border-radius: 10px;
  background-color: rgb(247, 201, 208);
}

/* linkedin icon */
#linkedin-icon {
  height: 25px;
  margin-right: 3px;
  border-radius: 50px;
}

/* github box */
#github-box {
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid lightpink;
  border-radius: 10px;
  background-color: rgb(247, 201, 208);
}

/* github icon */
#github-icon {
  height: 25px;
  border-radius: 10px;
  margin-right: 3px;
}

/* email box */
#email-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid lightpink;
  border-radius: 10px;
  background-color: rgb(247, 201, 208);
}

/* email icon */
#mail-icon {
  height: 25px;
  margin-right: 3px;
  border-radius: 50px;
}

/* hobby n skills box */
#hobby-skill-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* skill box */
#skill-box {
  border: 2px solid lightpink;
  background-color: rgb(247, 201, 208);
  margin-right: 60px;
  border-radius: 20px;
  height: 160px;
  width: 270px;
}

#skill-text,
#hobby-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px;
}

#hobby-box {
  border: 2px solid lightpink;
  background-color: rgb(247, 201, 208);
  margin-left: 60px;
  border-radius: 20px;
  height: 140px;
  width: 180px;
}

/* boxex of tech and hobby tables */
.inner-table {
  display: flex;
  justify-content: center;
}

/* box of 'tech table' */
#tech-inner-table {
  /* style here */
}

/* box for project preview and its link */
.personal-project-box {
  border: 2px solid lightpink;
  background-color: rgb(247, 201, 208);
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  margin-top: 20px;
}

/* text for 'project source' */
.project-source {
  margin-left: 10px;
}

/* images preview of personal projects */
#first-project-preview,
#second-project-preview,
#three-project-preview,
#four-project-preview {
  height: 200px;
  width: 180px;
}

/* img of project 1 preview */
#first-project-preview {
  /* style here */
}

/* img of project 2 preview */
#second-project-preview {
  margin-right: 30px;
}

/* img of 3rd project preciew */
#three-project-preview {
  margin-left: 190px;
}

/* inner project source */
.inner-project-source {
  /* style here */
}

/* text and source code of the project preview */
.project-source {
  font-size: 22px;
}

/* user contact box */
#user-contact-box {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid lightpink;
  border-radius: 10px;
  width: 50%;
  resize: horizontal;
  overflow: hidden;
  margin-left: 400px;
  background-color: rgb(247, 201, 208);
}

/* box for text 'contact me' */
#contact-text-box {
  margin-left: 10px;
}

/* box for name and email to be contacted */
#name-email-box {
  margin-top: 5px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}

/* box for 'email' */
#email-box {
  margin-right: 10px;
}

/* box for message-text-box */
#message-text-box {
  margin-left: 10px;
  margin-top: 5px;
  display: flex;
  justify-content: flex-start;
}

/* box for 'send button' */
#send-btn-box {
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.shadow {
  box-shadow: 10px 5px 10px rgb(184, 182, 182);
  transition: 300ms;
  cursor: pointer;
}
